<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Wallpapers</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'wdb_frontend/style.css' %}">
</head>

<body>
    <nav>
        <div class="nav-center-group">
            <a class="site-logo" href="/">WallDB</a>
            <form class="search-form" method="GET" action="{% url 'index' %}">
                {{search_form.q }}
                <button type="submit" class="btn">Search</button>
            </form>
            <div class="login-section">
                {% if user.is_authenticated %}
                    <span>logged in as {{ user.username }}</span>
                    <a href="{% url 'user:logout' %}">logout</a>
                {% else %}
                    {# <a href="">Login</a> or #}
                    <a href="{% url 'user:register' %}">login / register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

</html>
